<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Semester Task</title>
</head>
<body>
<h1>Book List</h1>

<form method="POST"
action="#" th:action="@{/save}" th:object="${book}">
<table>
    <tr >
        <td>id</td>
        <td><input th:field="*{id}"/></td>

    </tr>
    <tr>
    <td>title</td>
    <td><input type="text" th:field="*{title}"/></td>
    </tr>
    <tr>
        <td>isbn</td>
        <td><input type="text" th:field="*{isbn}"/></td>
    </tr>
    <tr>
        <td>author</td>
        <td><input type="text" th:field="*{author}"/></td>
    </tr>
</table>
<input type="submit" value="submit"/>
</form>

</body>
</html>