<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<header>
    <div class="mainind">

        <ul>
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/index">Books</a></li>
            <li><a href="/auindex">Authors</a></li>
            <li><a href="/login">Log out</a></li>
        </ul>
    </div>
</header>
<div class="wrapper">
    <div class="form-cnt">
        <form method="POST" action="#" th:action="@{/update}" th:object="${book}">
            <div class="input-fields">
                <input type="number" class="input" placeholder="Identifier" path="id" th:field="*{id}">
                <input type="text" class="input" placeholder="Title" path="id" th:field="*{title}">
                <input type="number" class="input" placeholder="ISBN" path="id" th:field="*{isbn}">
                <input type="text" class="input" placeholder="Author" path="id" th:field="*{author}">

            </div>
            <br/><br/>
            <input class="bs" type="submit" value="Submit"/>
            <a href="index" class="bs">Cancel</a>
        </form>
    </div>
</div>
</body>

</html>